@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form id="searchForm" method="post">
    <h2>Search book names here:</h2>
    <input type="text" name="searchValue" id="search_value" placeholder="Search here..." />
    
    <input type="submit" value="search" id="search" />
</form>
